[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
django = "*"
djangorestframework = "*"
django-crispy-forms = "*"
django-extensions = "*"
psycopg2 = "*"
pillow = "*"
requests = "*"
notebook = "*"
circus = "*"
chaussette = "*"

[dev-packages]
ipython = "*"
pygraphviz = "*"

[requires]
python_version = "3.9"
